@model CoursesSummaryViewModel
@{
    ViewData["Title"] = "All training courses by pages";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Trainer" asp-action="AllCourses">
    @await Html.PartialAsync("~/Views/Course/_TitleSearchBox.cshtml", Model)
</form>

<table class="table table-bordered table-hover table-dark table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.StartDate</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Trainer" asp-action="CourseDetails" asp-route-id="@course.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>