@model CoursesSummaryViewModel
@{
    ViewData["Title"] = "All training courses by pages";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Trainer" asp-action="AllCourses">
    @await Html.PartialAsync("~/Views/Course/_TitleSearchBox.cshtml", Model)
</form>

@await Html.PartialAsync("~/Views/Course/_AllCoursesByPages.cshtml", Model)