@model CoursesSummaryViewModel

@{
    ViewData["Title"] = "Course by title part";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Course" asp-action="All">
    @await Html.PartialAsync("~/Views/Course/_TitleSearchBox.cshtml", Model.SearchString)
</form>

@await Html.PartialAsync("~/Views/Course/_AllCoursesByPages.cshtml", Model)

