@model IEnumerable<SaleDetailsModel>
@{
    ViewData["Title"] = "All";
}

<h2>All</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Car price
            </th>
            <th>
                Car price with discount
            </th>
            <th>
                Discount
            </th>
            <th>
                Car details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
        <tr>
            <td>
                @sale.CustomerName
            </td>
            <td>
                @sale.CarPrice.ToPrice()
            </td>
            <td>
                @sale.DiscountedCarPrice.ToPrice()
            </td>
            <td>
                @sale.TotalDiscountPercentage.ToPercentage()
            </td>
            <td>
                <a class="btn btn-sm btn-default" href="/sale/@sale.Id">More details</a>
              
            </td>
        </tr>
        }
    </tbody>
</table>