@model IEnumerable<PartModel>

@{
    ViewData["Title"] = "GetAll";
}

<h2>All parts</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Part name
            </th>
            <th>
                Part price
            </th>
            <th>
                Part quantity
            </th>
            <th>
                Part options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (PartModel part in Model)
        {
            <tr>
                <td>
                    @part.Name
                </td>
                <td>
                    @part.Price
                </td>
                <td>
                    @part.Quantity
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/part/edit/@part.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/part/delete/@part.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />